<%= form_with(model: calculation) do |form| %>
  <% if calculation.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(calculation.errors.count, "error") %> prohibited this calculation from being saved:</h2>

      <ul>
        <% calculation.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :first_input %>
    <%= form.number_field :first_input %>
  </div>

  <div class="field">
    <%= form.label :second_input %>
    <%= form.number_field :second_input %>
  </div>

  <div class="field">
    <%= form.label :operation %>
    <%= form.number_field :operation %>
  </div>

  <div class="field">
    <%= form.label :result %>
    <%= form.text_field :result %>
  </div>

  <div class="field">
    <%= form.label :requested_count %>
    <%= form.number_field :requested_count %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
